@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

:root {
    --primary-color : #1F2937;
    --grey : #ecf0f9;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding : .8em 1.2em;
}

.hide-mobile{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
}

header div{
    padding-top : .5rem;
    padding-left: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.menu{
    padding-top : .5rem;
    padding-right: 1rem;
    margin-top: 10%;
    width : 25px;
}

nav{
    padding-bottom: 0.5rem;
    
}
.grey-container{
    margin : 0;
    padding : 0;
}

.hero-section{
    background-color: grey;
    height: 24rem;
}

.my-pic{
    width : 11rem;
    margin : 2em auto;
    border-radius: 50%;

}

.hero-section h1{
    font-size: 1.5rem;
    margin : 0;


}

.subhead{
    margin-top: 1;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.primary-link{
    font-size: .8rem;
    text-decoration: none;
    color : white;
    padding : 0.5rem 1rem;
    background-color : var(--primary-color);
    border-radius: .5rem;
    border-color: white;
}