@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family:'Alegreya', serif; */
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    padding:0;
}

/* Globally defined color */
:root {
    --primary-color : #1F2937;
    --grey : #ecf0f9;
}


/* Unordered list */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Links in Nav bar */
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100;
    padding : 1em 2em;
    text-align: center;
}

/* Hover for Links in Nav bar*/
nav ul li a:hover{
    background-color: #262f3b;
}

/*exit button for menu */
.exit-btn{
    margin-bottom: 1rem;
    margin-top: -2rem;
    padding: 0 2rem; 
    cursor: pointer;
    text-align: right ;
}

/* Hide in mobile-view */
.hide-mobile{
    display: none;
}

/* Unordered Lists in Navigation */
nav ul{
    position: fixed;
    width : 60%;
    top:0;
    right:0;
    background: var(--primary-color);
    height: 36%;
    padding-top: 3em;

}

/* Main Page Content */
header{
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1.1rem 0rem ;
    
}

header div{
    /* padding-top : 2.3rem; */
    padding-left: 2.3rem;
    font-weight: 600;
    font-size: 1.8rem;
    
}

.menu{
    /* padding-top : 2.5rem; */
    cursor: pointer;
    padding-right: 2.5rem;
    margin-top: 10%;
    width : 27px;
}

nav{
    padding-bottom: 0.5rem;
    
}
.grey-container{
    margin : 0;
    padding : 0;
}

.hero-section{
    padding-top: 13rem;
    height: 23rem;
}

.my-pic{
    width : 11rem;
    margin : 2em auto;
    border-radius: 50%;

}

.subhead{
    text-align: left;
    padding-left: 2.3rem;
    margin-top: 1rem;
    margin-bottom: .6rem;
    font-size: .9rem;
    font-family: 'Titillium Web', sans-serif;
    color: #6d6b6b;
}

.hero-section h1{
    width: 70%;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 2.3rem ;
    font-size: 2.5rem;
    margin : 0;
    font-family: 'Titillium Web', sans-serif;

}


.subhead2{
    line-height: 1.8rem;
    width: 75%;
    text-align: left;
    padding-left: 2.3rem;
    margin-top: .8rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-family: 'Titillium Web', sans-serif;
    
}

.primary-link{
    margin-left: 2.3rem;
    font-size: .8rem;
    text-decoration: none;
    color : white;
    padding : 0.5rem 1rem;
    background-color : var(--primary-color);
    border-radius: .5rem;
    border-color: white;
    font-family: 'Titillium Web', sans-serif;
}

.primary-link:hover{
    margin-left: 2.3rem;
    font-size: .8rem;
    text-decoration: none;
    color : var(--primary-color);
    padding : 0.5rem 1rem;
    background-color :white;
    border-radius: .5rem;
    border: 2px solid var(--primary-color);
    font-family: 'Titillium Web', sans-serif;
}

.intro-container {
    height : 38rem;
    background-color: white;
}

.intro-section {
    /* padding-left: 2.3rem;
    padding-top: 10rem; */
    padding: 10rem 2.3rem;
    align-items: center;

}

.intro-section h1{
    font-weight: lighter;
    text-align: left;
    margin-bottom: 0;
}

.black-line{
    width: 9.3rem;
    height: 1.5px;
    background-color: black;
}

.intro-text {
    
    text-align: left;
    width: 90%;
    font-size : 1rem;
}

.skills-container{
    /* padding-left: 2.3rem; */
    height : 55rem;
}

.skills-container h1{
    padding-left: 2.3rem;
    font-weight: lighter;
    
}

.info-cards{
    text-align: center;
   
}

.card{
    background-color: white;
    height: 11rem;
    align-content: center;
    width: 17.5rem;
    margin: 0 auto 2rem auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .card img{
    padding-top: .7rem;
    width: 2.5rem;
    margin:auto;
} */

.card-image-1{
    height: 6.5rem;
    background: url('https://appsmaventech.com/images/blog/The-Evolution-Of-Web-Development-Via-Machine-Learning.jpg');
    background-repeat: no-repeat;
    background-size: 18rem 6.5rem;

}

.card-image-2{
    height: 6.5rem;
    background: url('https://www.learnupon.com/wp-content/uploads/Video-editing-basics-for-eLearning1200x628.jpg');
    background-repeat: no-repeat;
    background-size: 17.5rem 8rem;
}

.card-image-3{
    height: 6.5rem;
    background: url('https://bloggingwizard.com/wp-content/uploads/2016/10/Image-Editing-Tools-750x300.png');
    background-repeat: no-repeat;
    background-size: 17.5rem 8rem;
}

.card-image-4{
    height: 6.5rem;
    background: url('https://avivdigital.in/wp-content/uploads/bfi_thumb/How-to-Become-a-Content-Writer-wqr4osp9vtj3j46mjn2fwg.jpg');
    background-repeat: no-repeat;
    background-size: 17.5rem 8rem;
}

.card-heading h4 {
    text-transform : uppercase;
    margin : .5rem 0 0 0;
    font-size: .9rem;
}

.card-heading p{
    max-width: 15rem ;
    margin: 0rem auto ;
    font-size: .8rem;
}
footer {
    padding-left: 2.3rem;
    background-color: var(--primary-color);
    height: 20rem;
}

footer h1{
    margin-top: 0;
    color:var(--grey);
    padding-top: 2rem;
    font-weight: lighter;
    margin-bottom: 0;
}

footer ul{
    padding-top: 2rem;
    line-height: 3rem;
}

footer ul li span{
    padding-left: 1rem;
}

footer a{
    color:var(--grey);
    text-decoration: none;
}

/* Projects Page */
.hero-project{
    background-color: white;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}

.hero-project h2{
    width:90%;
    font-weight: lighter;
    padding: 2rem 0 0 ;
    margin-bottom: 0;
    line-height: 1.8rem;
}

.hero-project p{
    width:85%;
}

.project-link1{
    text-decoration: none;
    color : red;
}

.project-link2{
    text-decoration: none;
    color : blue;
}



@media only screen and (min-width:650px){
    header div{
        padding-top: 1.3rem;
    }
    .menu{
        padding-top: 1.3rem;
    }
    .subhead{
        font-size: 1.1rem;
    }

    .hero-section h1{
        font-size: 3.5rem;
    }

    .subhead2{
        padding-top: 1rem;
    }

    .intro-section {
        padding-top: 8rem;
    }

    .intro-text{
        font-size: 1.5em;
    }
    
}

@media only screen and (min-width : 1100px){

    header div{
        padding-top: 5rem;
        padding-left: 5rem;
        font-size: 2rem;
    }

    .show-desktop{
        display: block;
    }

    .hide-desktop{
        display: none;
    }

    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 5rem;
        padding-right: 2rem;;
    }

    nav ul li{
        float:left;
    }

    nav ul li a{
        color: var(--primary-color);
        background-color: inherit;
        
    }
    
    nav ul li a:hover{
        background-color: inherit;
        color: red;
        /* text-decoration: underline; */
    }

    .hero-section{

        padding-top: 12rem;
        height: 25rem;
        padding-left:  17rem;
    }

    .hero-section h1{
        padding-top: 1rem;
        font-size:4.5rem;
    }
    .subhead{
        font-size: 1.4rem;
    }

    .subhead2{
        line-height: 3rem;
        padding-top: 1.2rem;
        font-size: 2.3rem;
    }

    .primary-link{
        font-size: 1.2rem;
    }

    .primary-link:hover{
        font-size: 1.2rem;
        transition-duration: .5s;
    }

    .intro-container{
        height: 43rem;
    }

    .intro-section{
        padding-top:13rem;
    }

    .intro-section h1{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .intro-text{
        margin:auto;
        text-align: center;
        font-size: 1.5rem;
    }

    .skills-container{
        height: 40rem;
    }
    
    .skills-container h1{
        padding:0;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }

    .info-cards{
        display: flex;
        flex-wrap: wrap;
        max-width: 70rem;
        width : 95%;
        margin:auto;
    }

    .card{
        height: 13.3rem;
        width: 19.7em;
        
    } 

    .card-image-1{
        height: 7.5rem;
        background-size: 19.7rem 7.5rem;
    
    }
    .card-image-2{
        height: 7.5rem;
        background-size: 19.7rem 7.5rem;
    
    }
    .card-image-3{
        height: 7.5rem;
        background-size: 19.7rem 7.5rem;
    
    }

    .card-image-4{
        height: 7.5rem;
        background-size: 21rem 8.5rem;
    
    }

    .card-heading h4 {
        font-size: 1.2rem;
    }

    .card-heading p{
        font-size: .9rem;
    }
    
    footer{
        height: 12rem;
    }
    footer h1{
        font-size: 2.2rem;
        text-align: center;
    }

    footer a{
        font-size: 1.2rem;
    }

    .contacts{
        display: flex;
        justify-content: space-around;
    }

    /* ol {
        list-style: none;
    } */

    /* .hero-project h2{
        font-size: 1.7rem;
        text-align: center;
        margin:auto;
    }

    .project-container{
        text-align: center;
    }

    .hero-project p{
        margin: auto;
        text-align: center;
        width : 40%
    } */
    .hero-project{
        padding-top: 2rem;
    }

    .hero-project ol{
        font-size: 1.5rem;
        padding-left: 5rem;
    }

    .hero-project h2{
        font-size: 2rem;
        padding-bottom: .5rem;
    }

    .hero-project small{
        font-size: 1rem;
    }

    .hero-project p{
        font-size: 1.2rem;
    }

    .project-link1{
        font-size: 1.2rem;
    }
    
    .project-link2{
        font-size: 1.2rem;
    }
}